<!--
 * @Date: 2020-05-23 16:39:49
 * @LastEditors: fashandian
 * @LastEditTime: 2020-06-06 20:30:54
-->
<div class="cnzt">
    <div class="select-log">
        <div class="mid-wrap">
            <div class="pic">
                <img src="assets/images/platform.png" alt="" />
            </div>
            <div class="methods">
                <button
                    nz-button
                    nzType="primary"
                    nzSize="large"
                    (click)="handleChangeModalType.emit('loginByPhone')"
                    nzBlock
                >
                    手机号登录
                </button>
                <button
                    nz-button
                    nzType="primary"
                    nzSize="large"
                    nzBlock
                    (click)="handleChangeModalType.emit('register')"
                >
                    注册
                </button>
            </div>
        </div>
    </div>
</div>
