<!--
 * @Date: 2020-03-19 18:38:49
 * @LastEditors: fashandian
 * @LastEditTime: 2020-03-19 19:08:03
 -->
<ng-template #defaultView>
    <div class="search">
        <nz-input-group nzSuffixIcon="search">
            <input type="text" nz-input placeholder="歌单 / 歌手 / 歌曲" />
        </nz-input-group>
    </div>
</ng-template>

<ng-container
    *ngTemplateOutlet="
        customView ? customView : defaultView;
        context: myContext
    "
></ng-container>

<!-- 父组件可以按照以下格式传模板进来 -->
<!-- <ng-template #customView let-name="hello">
    <button>{{ name }}</button>
</ng-template> -->
