<!--
 * @Date: 2020-03-19 18:38:49
 * @LastEditors: fashandian
 * @LastEditTime: 2020-03-20 05:20:48
 -->
<ng-template #defaultView>
    <div class="search" #search>
        <nz-input-group nzSuffixIcon="search">
            <input
                type="text"
                #nzInput
                nz-input
                placeholder="歌单 / 歌手 / 歌曲"
                (focus)="onFocus()"
                style="z-index: 1001;"
            />
        </nz-input-group>
    </div>
</ng-template>

<ng-container
    *ngTemplateOutlet="
        customView ? customView : defaultView;
        context: myContext
    "
></ng-container>

<!-- 父组件可以按照以下格式传模板进来 -->
<!-- <ng-template #customView let-name="hello">
    <button>{{ name }}</button>
</ng-template> -->
